.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 50px;
	grid-template-areas: ' brand links links';
	align-items: center;
	margin-top: 0;
	border-bottom: 1px solid black;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: #222f5b;
	color:  #946b2d;
	padding: 5px;
}

.brand{
	grid-area: brand;
	font-size: 1.3em;
	font-weight: bold;
}

.brand a {
	text-decoration: none;
}

.links {
	grid-area: links;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 50px;
	grid-template-area: 'usNews intNews sports tech rugby';
	align-items: center;
	justify-items: center;
	grid-gap: .5em;
	
}

.usNews {
	grid-area: usNews;
}

.intNews {
	grid-area: intNews;
}

.sportsNews {
	grid-area: sports;
}

.techNews {
	grid-area: tech;
}

.rugbyNew {
	grid-area: rugby;
}

a {
	color:  #946b2d;
}




